<%- include('common/head')%>
<%- include('common/navbar',{title:title})%>
<section class="scrollview">
  <div class="switchtag">
    <span class="switchtag-item curr"><i class="iconfont">&#xe634;</i>&nbsp;小说书架</span>
    <span class="switchtag-item"><i class="iconfont">&#xe634;</i>&nbsp;漫画书架</span>
  </div>
  <div class="title-txt">
    <h2 class="txt-lg">请选择近期阅读的书籍<i class="iconfont" style="display: inline-block;vertical-align: bottom;font-size:.5rem;margin-bottom:-0.08rem">&#xe654;</i></h2>
    <span class="txt-tip">读取阅读进度，再续前缘</span>
  </div>
  <div class="box-list">
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/1.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>至尊丹帝</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/2.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>斗魔传承</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/3.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>魔天</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/4.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>妙手小村医</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/5.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>我是大总裁</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/6.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>将军，该打针了！</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/7.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>随身空间：重生八零俏媳妇</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <!-- <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/8.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>锦绣凰途：毒医太子妃</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a>
    <a class="box-list-item">
      <div class="box-list-img">
        <img src="/images/book/9.jpg">
      </div>
      <div class="box-list-mes">
        <div class="box-list-title">
          <span>食全酒美：皇家商王妃</span>
        </div>
        <div class="box-list-other"></div>
      </div>
    </a> -->
  </div>
  <div class="floatutil">
    <i class="iconfont" style="font-size:.38rem;color:#46a79e;">&#xe6a8;</i>
  </div>

</section>
<%- include('common/foot') %>
