<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    阅客联盟
  </title>
  <link rel="stylesheet" href="/javascripts/lib/swiper/swiper-4.2.2.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/lib/ydui/ydui.flexible.js"></script>
</head>
<body>
  <div style="height:100%;">
    <section class="flexview">
