<header class="navbar" style="height: 1rem;color:rgb(92, 92, 92);">
  <div class="navbar-item"><a href="#"><i class="iconfont">&#xe618;</i></a></div>
  <div class="navbar-center"><span class="navbar-center-title" style="font-size: 0.4rem;;"><%=title%></span></div>
  <div class="navbar-item"><a href="#"><i class="iconfont">&#xe606;</i></a></div>
</header>
