<footer class="tabbar-bottom">
  <a href="/users/mybook" class="tabbar-bottom-item">
    <span class="tabbar-bottom-icon">
      <i class="iconfont">&#xe614;</i>
    </span>
    <span class="tabbar-bottom-txt">
      书架
    </span>
  </a>
  <a href="/store" class="tabbar-bottom-item">
    <span class="tabbar-bottom-icon">
      <i class="iconfont">&#xe61a;</i>
    </span>
    <span class="tabbar-bottom-txt">
      书城
    </span>
  </a>
  <a href="/users/mybook" class="tabbar-bottom-item">
    <span class="tabbar-bottom-icon">
      <i class="iconfont">&#xe664;</i>
    </span>
    <span class="tabbar-bottom-txt">
      我的
    </span>
  </a>
</footer>
